.suggestions {
    list-style: none;
    margin: 0 -3px;
    position: absolute;
}

.suggestionItem {
    background-color: white;
    width: 20rem;
    padding: .56rem 1rem;
    margin: 0;
    border: 1px solid black;  
    border-bottom: none;
}

.suggestionItem:last-child {
    border-bottom: 1px solid black;
}

.suggestionItem:hover {
    background-color: rgb(250, 245, 219);
}

@media only screen and (max-width: 890px) {
    .suggestionItem {
        width: 16rem;
        text-align: left;
    }
}

@media only screen and (max-width: 560px) {
    .suggestions {
        margin: 0 -11px;
    }
}
