.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./background_search_desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
    box-shadow: -8px 8px 15px #181817;
  }
  
  .SearchBar-sort-options ul {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2.22rem;
    color: #ffffff;
    padding: 0 0;
  }
  
  .SearchBar-sort-options li {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 4.33rem;
    border-bottom: 1px solid #fff;
    padding: 0 2.58rem .33rem 2.58rem;
    line-height: 1.13;
    font-weight: 600;
    font-size: .93rem;
    transition: color .5s;
    list-style-type: none;
  }
  
  .SearchBar-sort-options li:hover {
    color: #fab326;
  }
  
  .SearchBar-sort-options li.active,
  .SearchBar-sort-options li.active:hover {
    border-bottom: 1px solid #f0c36c;
    color: #f0c36c;
  }
  
  .SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
  }

  .SearchBar-fields input:focus {
    box-shadow: -8px 8px 15px rgb(7, 7, 7);
    border: 2px solid rgb(31, 31, 241);
  }
  
  .SearchBar-fields form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
  }
  
  .SearchBar-fields input {
    width: 20rem;
    padding: .66rem 1rem;
    margin: 0px 2rem;
    border-radius: 6px;
    font-size: .77rem;
    font-weight: 500;
    justify-content: center;
  }

  .SearchBar-submit {
    text-align: center;
  }
  
  .SearchBar-submit a {
    border-radius: 4px;
    padding: .72rem 1.7rem;
    background-color: #cca353;
    color: #ffffff;
    font-weight: 600;
    transition: background-color .5s;
  }
  
  .SearchBar-submit a:hover {
    cursor: pointer;
    background-color: #a7874b;
  }

  .inputFieldError {
    border: 2px solid red;
    transition: border 0.3s;
  }

  .inputFieldErrorMessage {
    text-align: center;
    color: red;
    padding: 0 0;
    font-size: 1em;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 890px) {
    .SearchBar {
      background-image: url('./background_search_mobile.jpg');
    }
  
    .SearchBar-sort-options ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .SearchBar-sort-options li {
      width: 1.8rem;
      border-bottom: 1px solid #fff;
      padding: 0 2.58rem .33rem 2.58rem;
      line-height: 1.13;
      font-weight: 600;
      font-size: .93rem;
      transition: color .5s;
      list-style-type: none;
    }
  
    .SearchBar-fields {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .SearchBar-fields form {
      text-align: center;
      margin: 0 auto;
    }
  
    .SearchBar-fields input {
      margin-right: 0;
      margin-bottom: .86rem;
      width: 16rem;
      padding: .66rem 1rem;
      margin: 0px 2rem;
    }
    .inputFieldErrorMessage {
      color: red;
      padding: 0px 5px;
      font-size: .7em;
    }
  }

  @media only screen and (max-width: 480px) {

  }