.Login {
    display: flex;
    justify-content: right;
    width: 150px;
    margin: 0 .1rem;
}

.Login button {
    margin: .1rem .3rem;
    padding: 0 0;
    width: 8.2rem;
    height: 2.3rem;
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 0;
    font-weight: 500;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    text-align: right;
    padding: 0 .6rem;
}

.Login button:hover {
    background-color: rgb(106, 202, 97);
    color: white;
    font-weight: 800;
    font-size: 1.05rem;
    text-align: center;
    transition-duration: .4s;
}

.Button-Active {
    background-color: rgb(11, 51, 7);
    color: white;
    font-weight: 800;
    font-size: 1.05rem;
}
.Login-Menu {
    position: absolute; 
    margin: 0 0;
    top: 44px;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 560px) {
    .Login {
        display: flex;
        justify-content: right;
        width: 140px;
        margin: 0 0;
    }

    .Login button {
        width: 10.5rem;
    }

    .Login-Menu {
        top: 34px;
    }
}

