/* Universal Styles */
html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 14px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  width: 100%;
}

/* App Styles */
.App {
  font-family: 'Work Sans', sans-serif;
}

.NavMenu {
  background-color: #dbab4b;
  padding: .2rem 0;
  display: flex;
}

.Logo {
  display: flex;
  width: 54%;
  justify-content: flex-start;
}

.LoginMenu {
  display: flex;
  width: 45.7%;
  justify-content: flex-end;
}

.Logo h1 {
  padding: 0rem 1.8rem;
  font-family: Poppins, sans-serif;
  font-size: 1.35rem;
  color: #fff;
  margin: 0 0;
  text-align: right;
}

h1:hover {
  color: rgb(81, 191, 255);
  text-shadow: -3px 3px 15px black;
  transition-duration: .9s;
  font-weight: bold;
}

@media only screen and (max-width: 560px) {
  h1 {
    display: flex;
    justify-content: left;
    padding-left: .8rem;
  }
  .Logo {
    width: 50%;
    text-align: left;
    padding-left: .8rem;
  }

}
